* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #333;
    overflow-x: hidden;
    color: #222;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: #f0f0f0;
    transform-origin: top left;
    transition: transform .4s ease-out;
    width: 100vw;
    min-height: 100vh;
    padding: 4rem;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.container.show-nav + nav ul {
    transform: translate(0);
    transition-delay: .3s;
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #ff3333;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
}

.circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: none;
    font-size: 26px;
    color: #fff;
    cursor: pointer;;
}

.circle button:focus {
    outline: none;
}

.circle button.open {
    left: 60%;
}

.circle button.close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.content img {
    max-width: 100%;
}

.content {
    max-width: 100%;
    margin: 50px auto;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 40px;
}

nav ul li {
    text-transform: uppercase;
    color: white;
    margin: 40px 0;
    transform: translateX(-100px);
    transition: transform .4s ease-in;
}

nav ul li i {
    margin-right: 10px;
    display: flex;
    align-items: flex-start;
}

nav ul li + li {
    margin-left: 15px;
}

nav ul li + li + li {
    margin-left: 30px;
}