* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #7d5fff, #7158e2);
    font-family: 'Courier New', Courier, monospace;
}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    height: 50px;
    background: #fff;
    width: 50px;
    border: none;
    font-size: 18px;
    transition: width .4s ease;
}

.btn {
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 25px;
    top: 0;
    left: 0;
    transition: transform .3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}

