@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #efedd6;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
}

.box {
    background-color: steelblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0 0 0 / 30%);
    transform: translateX();
}